.about-left{
    padding: 10%;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

}

.about-left > h1{
    font-size: 1.2rem;
    font-weight:500 ;
    color: #33df9a;
}
.about-left > h2{
    font-size: 2.5rem;
}
.about-left > p{
    color: rgb(142, 142, 142);
}